<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<a onclick="$.post('/resultload', $('#points').text());">End Game</a> | 
  	<a href="./result">See all players</a>
    <h3 id="points">0</h3>
    <div id="apple" data-x="<%= Math.floor(Math.random()*24) %>" data-y="<%= Math.floor(Math.random()*16) %>"></div>
    <% for (var i = 5; i > 0; i--) { %>
    <div class="snakebody" id="<%= i %>" data-x="<%= 6-i %>" data-y="0"></div>
    <% } %> 
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/front_end.js"></script>
</html>